.profile {
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.profile__container {
  padding-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  margin: 0;
  margin-bottom: 123px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__data {
  width: 410px;
  margin-bottom: 205px;
}

.profile__username-container {
  height: 31px;
  border-bottom: 1px solid #424242;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 17px;
}

.profile__username {
  font-size: 11px;
}

.profile__email-container {
  height: 31px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.profile__email {
  font-size: 11px;
}

.profile__edit-button {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__logout-button {
  display: flex;
  justify-content: center;
  color: #ee3465;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.profile__logout-button:hover {
  opacity: 0.7;
}

.profile__save-button {
  margin-bottom: 16px;
  border: none;
  padding: 0;
  width: 396px;
  height: 45px;
  background-color: #4285f4;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.profile__save-button_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
}

.profile__save-button:hover {
  opacity: 0.8;
}

.profile__error-message {
  font-size: 11px;
  color: #ff004c;
  margin-bottom: 20px;
}

@media screen and (max-width: 1279px) {
  .profile__container {
    padding-top: 74px;
  }

  .profile__container {
    padding-top: 236px;
  }

  .profile__greeting {
    margin-bottom: 96px;
  }

  .profile__data {
    width: 410px;
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
    padding-top: 70px;
  }

  .profile__greeting {
    margin-bottom: 80px;
  }

  .profile__data {
    width: 260px;
    margin-bottom: 379px;
  }

  .profile__edit-button {
    font-size: 12px;
  }

  .profile__logout-button {
    font-size: 12px;
  }

  .profile__save-button {
    margin-bottom: 14px;
    width: 260px;
    height: 45px;
    font-size: 12px;
  }
}
