.header {
  width: 100%;
  height: 74px;
  background-color: #073042;
}

.header_dark {
  background-color: #202020;
}

.header__container {
  max-width: 1280px;
  min-width: 320px;
  height: 74px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  padding-left: 70px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__account-container {
  padding-left: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.header__movies {
  margin: 0;
  padding-right: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.5s;
}

.header__movies:hover {
  opacity: 0.7;
}

.header__movies_clicked {
  font-weight: 500;
}

.header__saved-movies {
  margin: 0;
  padding-right: 50px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  transition: opacity 0.5s;
}

.header__saved-movies:hover {
  opacity: 0.7;
}

.header__saved-movies_clicked {
  font-weight: 500;
}

.header__account-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.header__account {
  margin: 0;
  padding-right: 13px;
  font-size: 14px;
  line-height: 16px;
  transition: opacity 0.5s;
}

.header__account:hover {
  opacity: 0.7;
}

.header__account_clicked {
  font-weight: 500;
}

.header__account-icon {
  width: 12px;
  height: 12px;
  background-image: url('../../images/icon-account.svg');
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.header__account-icon-container {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.header__register-button {
  margin: 0;
  padding-right: 30px;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  transition: opacity 0.5s;
}

.header__register-button:hover {
  opacity: 0.7;
}

.header__login-button {
  margin-right: 70px;
  background-color: #3ddc84;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.header__login-button:hover {
  opacity: 0.8;
}

.header__login-text {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    padding-left: 30px;
  }

  .header__login-button {
    margin-right: 30px;
  }

  .header__account-icon-container {
    margin-right: 30px;
  }

  .header__movies,
  .header__saved-movies,
  .header__account-button {
    display: none;
  }

  .menu-button {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    padding-right: 37px;
    cursor: pointer;
    transition: opacity 0.5s;
  }

  .menu-button:hover {
    opacity: 0.8;
  }

  .menu-button__line {
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #ffffff;
  }

  .menu-button__line:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-left: 14px;
  }

  .header__login-button {
    margin-right: 14px;
  }

  .header__account-icon-container {
    margin-right: 14px;
  }

  .menu-button {
    padding-right: 23px;
  }

  .menu-button__line {
    width: 22px;
    height: 2.5px;
    margin-bottom: 6.5px;
    background-color: #ffffff;
  }

  .header__register-button {
    padding-right: 14px;
    font-size: 10px;
  }

  .header__login-button {
    margin-right: 14px;
    width: 54px;
    height: 26px;
  }

  .header__login-text {
    font-size: 10px;
  }
}
