.side-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: -100%;
  z-index: 0;
}

.side-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: fixed;
  width: 520px;
  height: 100vh;
  background-color: #202020;
  top: 0;
  right: -520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 1;
}

.open {
  right: 0px;
}

.side-menu__close-button {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  background-image: url('../../images/icon-cross.svg');
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 26px;
  right: 26px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}

.side-menu__close-button:hover {
  opacity: 0.7;
}

.side-menu__main {
  color: #ffffff;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  padding-top: 159px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 28px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.side-menu__main:hover {
  opacity: 0.7;
}

.side-menu__main_clicked {
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
}

.side-menu__movies {
  color: #ffffff;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 28px;
  text-align: center;
  padding-bottom: 4px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.side-menu__movies:hover {
  opacity: 0.7;
}

.side-menu__movies_clicked {
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
}

.side-menu__saved-movies {
  color: #ffffff;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 620px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.side-menu__saved-movies:hover {
  opacity: 0.7;
}

.side-menu__saved-movies_clicked {
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
}

.side-menu__account-container {
  color: #ffffff;
  padding: 0;
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  cursor: pointer;
}

.side-menu__account-button {
  display: flex;
  align-items: center;
}

.side-menu__account {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-right: 13px;
  transition: opacity 0.5s;
}

.side-menu__account {
  opacity: 0.7;
}

.side-menu__account_clicked {
  font-weight: 500;
}

.side-menu__account-icon-container {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu__account-icon {
  width: 12px;
  height: 12px;
  background-image: url('../../images/icon-account.svg');
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .side-menu {
    width: -100%;
    height: 100vh;
  }

  .open {
    width: 100%;
  }

  .side-menu__close-button {
    top: 19px;
    right: 19px;
  }

  .side-menu__main {
    padding-top: 145px;
    margin-bottom: 24px;
  }

  .side-menu__movies {
    margin-bottom: 22px;
  }

  .side-menu__saved-movies {
    margin-bottom: 444px;
  }
}
