.register {
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__top {
  width: 396px;
  padding-top: 70px;
}

.register__logo {
  margin-bottom: 40px;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__welcome {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}

.register__inputs {
  width: 100%;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__input-container {
  width: 396px;
  position: relative;
}

.register__input-name {
  margin: 0;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.register__input {
  width: 100%;
  padding: 0;
  padding-bottom: 8px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #424242;
  color: #ffffff;
  margin-bottom: 27px;
}

.register__input:focus {
  border-bottom: 1px solid #4285f4;
}

.register__error-message {
  margin: 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 51px;
}

.register__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__button {
  margin-top: 69px;
  margin-bottom: 16px;
  border: none;
  padding: 0;
  width: 396px;
  height: 45px;
  background-color: #4285f4;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.register__button_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
}

.register__button:hover {
  opacity: 0.8;
}

.register__already-registered {
  margin: 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
}

.register__enter {
  color: #4285f4;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.register__enter:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .register__top {
    width: 396px;
    padding-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .register__top {
    width: 320px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register__logo {
    margin-bottom: 50px;
  }

  .register__welcome {
    margin-bottom: 80px;
  }

  .register__input-container {
    width: 260px;
  }

  .register__input {
    padding-bottom: 10px;
  }

  .register__button {
    margin-top: 157px;
    margin-bottom: 14px;
    width: 260px;
    height: 45px;
    font-size: 12px;
  }

  .register__already-registered {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
